<div class="face-snap-card" [ngClass]="{snapped : buttonText === 'Oops, OneSnap!'}">
    <h2>{{ faceSnap.title | uppercase}}</h2>
    <p>Mis en ligne le {{ faceSnap.createdDate }}</p>
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p>{{ faceSnap.description }}</p>
    <p *ngIf="faceSnap.location"> Photo est prise à {{ faceSnap.location }}</p>
    <!-- <p *ngIf="faceSnap.location === 'Paris' "> Photo est prise à {{ faceSnap.location }}</p> -->
    <p><button (click)="onSnap()">{{ buttonText }}</button>
        <span [ngStyle]="{color: 'rgb(0, ' + faceSnap.snaps + ', 0)'}">💖 {{ faceSnap.snaps }}</span>
        <!-- <span [ngStyle]="{color: 'rgb(0, {{ faceSnap.snaps }}, 0)'}">💖 {{ faceSnap.snaps }}</span> not good-->
    </p>
</div>